@font-face {
  font-family: "Plantin";
  src: url("./plantin.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plantin";
  src: url("./plantin-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Same as the previous @font-face for "Plantin-Italic", except with font-style: normal for specific use cases */
@font-face {
  font-family: "Plantin-Italic";
  src: url("./plantin-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Medieval";
  src: url("./medieval.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Symbols";
  src: url("./symbols.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ExpFront";
  src: url("./expansions-f.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ExpBack";
  src: url("./expansions-b.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
